<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta name="keywords" content="前端,工程师,frontend,javascript,CSS3,nodejs">
  <meta name="description" content="茄果的项目集">
  <meta name="author" content="茄果: www.cnblogs.com/qieguo">
  <title>{{title}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/base.css">
  {{{_sections.head}}}
</head>

<body>
<div class="main-wrp">
    {{{body}}}
</div>
{{{_sections.foot}}}
</body>

</html>
