<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="茄果的项目集">
    <meta name="author" content="https://github.com/qieguo2016">
    <title>{{title}}</title>
    <!--<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{{_sections.head}}}
  </head>
  <body>
    {{{body}}}
  </body>
  {{{_sections.foot}}}
</html>

<!DOCTYPE html>
<html>
